.marketplace {
  padding: 20px;
  font-family: 'Arial, sans-serif';
}

.marketplace h1 {
  color: #2a9d8f;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.category-toggle {
  text-align: center;
  margin-bottom: 20px;
}

.category-toggle button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #2a9d8f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-toggle button.active,
.category-toggle button:hover {
  background-color: #0056b3;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.product-card h2 {
  color: #333;
  font-size: 1.5em;
}

.product-card p {
  color: #666;
}

.quantity-input {
  width: 60px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-to-cart-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.no-products-message {
  text-align: center;
  color: #555;
  font-size: 1.2em;
}

.cart-info {
  margin-top: 40px;
}

.cart-info h2 {
  color: #2a9d8f;
  text-align: center;
  margin-bottom: 20px;
}

.cart-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
  color: #333;
}

.cart-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  background-color: #3a7851;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
}
